{% extends 'overall/layout.twig' %}

{% block appHeader %}
  <!-- select2 -->
  <link rel="stylesheet" href="{{ base_url() }}assets/plugins/select2/css/select2.min.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="{{ base_url() }}assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
	<link rel="stylesheet" href="{{ base_url() }}assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}

{% block appBody %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Impresoras{% if (acl_permits('inventory.add')) %}&nbsp;
							<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addEquipmentModal" onclick="addEquipmentModel()"><i class="fa fa-plus"></i>Añadir nuevo</button>{% endif %}
						</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">Inicio</li>
							<li class="breadcrumb-item active">Impresoras</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="messages"></div>

				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<table id="equipmentTable" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Cliente</th>
											<th>Numero de serie</th>
											<th>Area/Encargado</th>
											<th>Marca</th>
											<th>Estado</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Cliente</th>
											<th>Numero de serie</th>
											<th>Area/Encargado</th>
											<th>Marca</th>
											<th>Estado</th>
											<th>Acciones</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->

			</div>
		</section>
		<!-- /.content -->
	</div>
	{% include 'inventory/printer/add_printer.twig' %}
	{% include 'inventory/printer/edit_printer.twig' %}
	{% include 'inventory/printer/view_printer.twig' %}
{% endblock %}

{% block appFooter %}
	<!-- select2 -->
	<script src="{{ base_url() }}assets/plugins/select2/js/select2.min.js"></script>
	<script src="{{ base_url() }}assets/plugins/select2/js/i18n/es.js"></script>
	<!-- DataTables -->
	<script src="{{ base_url() }}assets/plugins/datatables/jquery.dataTables.js"></script>
	<script src="{{ base_url() }}assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
	<script src="{{ base_url() }}assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="{{ base_url() }}assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<!-- Custom -->
	<script src="{{ base_url() }}custom/js/printer.js"></script>
{% endblock %}
